<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
  <a href="/timer" class="navbar-brand"><i class="fas fa-mug-hot mr-2"></i>POMODORO</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle Navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navLinks">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/" class="nav-link">HOME</a>
      </li>
      <li class="nav-item">
        <a href="/cups" class="nav-link">CUPS</a>
      </li>
      <li class="nav-item">
        <a href="/tasks" class="nav-link">TASKS</a>
      </li>
      <li class="nav-item">
        <a href="https://img.itch.zone/aW1hZ2UvMTc2MjUvNzYzMDQuanBn/original/TzMBdE.jpg" class="nav-link">YOUTUBE</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if (isGuest) { %>
      <li class="nav-item ml-auto">
        <a href="/users/login" class="nav-link">LOGIN/SIGNUP</a>
      </li>
      <% } else { %>
      <li class="nav-item ml-auto">
        <a href="/users/logout" class="nav-link">LOGOUT</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
