<% layout('/layouts/boilerplate') %>

  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-9">
        <div class="jumbotron py-4 main">
          <h1 class="display-4">How Many Cups?</h1>
          <p class="lead">This is a website to convert the number of cups you've drawn on your page into hours and minutes. Who wants to work in base 25 anyway?</p>
          <form id="numberOfCups">
            <label for="selecta">How many cups did you complete today?</label>
            <table>
              <tr>
                <td>
                  <select id="selecta" class="form-control form-control-sm">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                  </select>
                </td>
                <td>
                  <button id="sub" type="submit" class="btn btn-outline-secondary btn-sm ">Submit</button>
                </td>
              </tr>
            </table>
          </form>
          <div id="return"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
  <script src="/scripts/cups.js"></script>