<% layout('/layouts/boilerplate') %>

<div class="timer-container">
  <button id="work">Work</button>
  <button id="short">Short Break</button>
  <button id="long">Long Break</button>
  <div id="time-box">
    <div id="time">25:00</div>
    <textarea class="none text-box" id="edit-text"></textarea>
  </div>
  <button id="start-stop">Start</button>
  <button id="reset">Reset</button>
</div>
<audio id="buzz" src="Buzzer.wav"></audio>

<script src="/scripts/timer.js"></script>
