*:focus {
  outline: none;
}

body {
  background: url(https://images.unsplash.com/photo-1497515114629-f71d768fd07c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1362&q=80);
  background-size: cover;
  background-position: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
}
nav {
  font-family: 'Source Sans Pro', sans-serif;
}
html {
  height: 100%;
}

#main {
  background: rgba(255, 255, 255, 0.21);
  color: white;
  margin-top: 20vh;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
}

#main h1 {
  font-weight: 100;
}

#main p {
  font-weight: 100;
}

#sub {
  background: rgba(80, 10, 10, 0.404);
  color: white;
}

#selecta {
  background-color: #ffffffb0;
}
.timer-container {
  height: 300px;
  width: 100%;
  text-align: center;
  margin-top: 20vh;
}
#time {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 8rem;
  margin: 6px auto;
}

.none {
  display: none;
}

.text-box {
  color: white;
  background: rgba(255, 255, 255, 0.21);
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 8rem;
  margin: 0 auto;
  border-radius: 39px;
  resize: none;
}
.input-box {
  color: white;
  background: rgba(255, 255, 255, 0.21);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  border-radius: 11px;
  width: 40%;
}

.text-box:focus {
  outline: none;
}

.bottom-btn {
  background-image: linear-gradient(rgba(82, 79, 79, 0.541), rgba(82, 79, 79, 0.541)), url('../coffee.png');
  background-size: cover;
  background-position: center;
  /* border: 1px solid white; */
  color: white;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 30px 20px;
}

.bottom-btn:hover {
  background-image: linear-gradient(rgba(3, 3, 3, 0.541), rgba(0, 0, 0, 0.541)), url('../coffee.png');
}

.top-btn {
  width: 8rem;
  background-color: transparent;
  border: none;
  color: rgb(139, 127, 127);
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  margin: 20px 28px;
  transition: all 0.2s;
}

.top-btn:hover {
  color: white;
}

button:focus {
  outline: none;
}

@media (max-width: 597px) {
  .top-btn {
    margin: 20px 8px;
  }
}

.todo-container {
  margin-top: 10vh;
  margin-left: 5vw;
}

.del-btn {
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  width: 2rem;
  height: 2rem;
  position: static;
  text-align: center;
  padding: 0;
  transition: all 0.5s;
}

.del-btn:hover {
  background-color: rgba(255, 255, 255, 0.21);
}
.task-btn {
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  position: static;
  padding: 3px;
  text-align: center;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.075);
}
.task-btn-txt {
  padding: 8px;
}
.task-btn:hover {
  background-color: rgba(255, 255, 255, 0.21);
}

.todo-li {
  display: inline;
}
