*:focus {
  outline: none;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url('https://images.unsplash.com/photo-1497515114629-f71d768fd07c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1362&q=80');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
}
nav {
  font-family: 'Source Sans Pro', sans-serif;
}
html {
  height: 100%;
  box-sizing: border-box;
}

.main {
  background: rgba(255, 255, 255, 0.21);
  color: white;
  margin-top: 20vh;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
}

.main h1,
.main p {
  font-weight: 100;
}

/* .main p {
  font-weight: 100;
} */

#sub {
  background: rgba(80, 10, 10, 0.404);
  color: white;
}

#selecta {
  background-color: #ffffffb0;
}
.timer-container {
  height: 300px;
  width: 100%;
  text-align: center;
  margin-top: 20vh;
}
#time {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 8rem;
  margin: 6px auto;
  cursor: pointer;
}

.none {
  display: none;
}

.text-box {
  color: white;
  background: rgba(255, 255, 255, 0.21);
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 8rem;
  margin: 0 auto;
  border-radius: 39px;
  resize: none;
}
.input-box {
  color: white;
  background: rgba(255, 255, 255, 0.21);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  border-radius: 11px;
  width: 40%;
}

.text-box:focus {
  outline: none;
}

.bottom-btn {
  background-image: linear-gradient(rgba(82, 79, 79, 0.541), rgba(82, 79, 79, 0.541)), url('../coffee.png');
  background-size: cover;
  background-position: center;
  /* border: 1px solid white; */
  color: white;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 30px 20px;
  cursor: pointer;
}

.bottom-btn:hover {
  background-image: linear-gradient(rgba(3, 3, 3, 0.541), rgba(0, 0, 0, 0.541)), url('../coffee.png');
}

.top-btn {
  width: 8rem;
  background-color: transparent;
  border: none;
  color: rgb(139, 127, 127);
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  margin: 20px 28px;
  transition: all 0.2s;
  cursor: pointer;
}

.top-btn:hover {
  color: white;
}

button:focus {
  outline: none;
}

@media (max-width: 597px) {
  .top-btn {
    margin: 20px 8px;
  }
}

.todo-container {
  margin-top: 10vh;
  margin-left: 5vw;
}

.del-btn {
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  width: 2rem;
  height: 2rem;
  position: static;
  text-align: center;
  padding: 0;
  transition: all 0.5s;
}

.del-btn:hover {
  background-color: rgba(255, 255, 255, 0.21);
}
.task-btn {
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  position: static;
  padding: 3px;
  text-align: center;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.075);
}
.task-btn-txt {
  padding: 8px;
}
.task-btn:hover {
  background-color: rgba(255, 255, 255, 0.21);
}

.todo-li {
  display: inline;
  cursor: move;
}

.input-login {
  display: block;
  width: 70%;
  color: white;
}

.input-login::placeholder {
  color: rgba(255, 255, 255, 0.432);
}

.login-form {
  border-right: 1px solid rgba(173, 156, 156, 0.45);
  padding: 15px;
  width: 1000%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form:last-child {
  border-right: none;
}

.login-form h2 {
  margin-bottom: 20px;
}
.p-word {
  margin-top: 10px;
}

.panel {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.login {
  background-color: rgba(161, 161, 161, 0.21);
  border-radius: 20px;
}

input {
  padding: 1px 10px;
}

#title {
  position: absolute;
  top: 10%;
  left: 10%;
}

.td-container {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.21);
  max-width: 90vw;
  justify-content: space-around;
  margin-right: 0;
  border-radius: 15px;
  margin-top: 20px;
}

.td-list {
  width: 30%;
  padding: 10px 0;
}

#Completed li {
  text-decoration: line-through;
}

.draggable .dragging {
  color: black;
}

.instructions {
  position: absolute;
  top: 70vh;
  left: 60vw;
  font-weight: 400;
}

#home-container {
  margin-top: 10%;
}
.video {
  align-self: center;
}

#vid-div {
  display: flex;
  margin-top: 15px;
  min-width: 60%;
  justify-content: center;
  align-items: center;
}

#home-div {
  flex-direction: column;
  padding: 15px;
}
